* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d3fbd8;
  background-color: #171a21;
  font-family: "Lora", serif;
  padding: 1.5rem;
}

@media (min-width: 40rem) {
  body {
    padding: 2rem;
  }
}

main {
  font-size: 20px;
}

button {
  padding: 0.5rem 3rem;
  font-size: inherit;
  color: #f8bd3b;
  background: transparent;
  border-radius: 0.8rem;
  border: 1px solid #f8bd3b;
  margin-top: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  word-spacing: 2px;
}

footer {
  margin-top: 2rem;
  text-align: center;
  padding-top: 1.5rem;
  color: #f8bd3b;
}

footer .end {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

footer .end p {
  margin: 0 1rem;
}

footer .end > div {
  width: 30%;
  background-color: #f8bd3b;
  border: 0.5px solid #f8bd3b;
}

footer .social-links-bottom {
  color: #63ecbb;
  display: flex;
  margin: 1.5rem 0;
  justify-content: space-around;
}

@media (min-width: 40rem) {
  footer .social-links-bottom {
    display: none;
  }
}

section {
  margin-top: 2.5rem;
  text-align: center;
}

section .header {
  margin-bottom: 1rem;
  border-bottom: 2px solid #f8bd3b;
  font-size: clamp(1.1rem, calc(1vw + 0.2rem), 2.5rem);
}

section .header > h1 {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #63ecbb;
}

@media (min-width: 40rem) {
  section {
    margin: 0;
    padding: 3rem;
  }
  section .content__container {
    margin: 0 auto;
  }
}

@media (min-width: 64em) {
  section {
    padding: 5rem;
  }
  section .content__container {
    width: 65%;
  }
}

.no-scroll {
  overflow: hidden;
}

.social-links {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links i {
  margin: 0.8rem 0;
}

.social-links i:hover {
  color: #f8bd3b;
}

.social-links::before {
  content: "";
  width: 2px;
  height: 5rem;
  background-color: #f8bd3b;
}

.social-links::after {
  content: "";
  width: 2px;
  height: 5rem;
  background-color: #f8bd3b;
}

@media (min-width: 40rem) {
  .social-links {
    display: flex;
  }
}

.highlight {
  color: #f8bd3b !important;
}

.header .overlay-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  display: none;
  transform: translateX(100%);
  transition: transform 350ms ease-in-out 200ms;
  background-color: #131515;
  z-index: 999;
}

.header .overlay-div.show-nav {
  display: block;
  transform: translateX(0);
}

.header .overlay-div ul {
  float: right;
  background-color: #232f45;
  height: 100%;
  width: 70%;
  color: #f4f9ff;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 4rem;
}

.header .overlay-div ul li {
  margin-top: 1rem;
  padding: 0.8rem 1.3rem;
}

.header .overlay-div ul li > a:hover {
  color: #63ecbb;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name {
  color: #63ecbb;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.header__name span {
  text-transform: capitalize;
  font-size: 2.3rem;
}

.header__toggle {
  height: 100%;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}

.header__toggle.animate > span:nth-child(2) {
  opacity: 0;
}

.header__toggle.animate > span:first-child {
  transform: rotate(45deg);
  width: 27px;
}

.header__toggle.animate > span:last-child {
  transform: rotate(-45deg);
}

.header__toggle > span {
  position: relative;
  display: block;
  background-color: #f8bd3b;
  width: 22px;
  height: 3px;
  transition: all 350ms ease-in-out;
  transform-origin: -1px 2px;
}

.header__toggle > span:first-child {
  width: 17px;
  height: 3px;
  margin-bottom: 8px;
}

.header__toggle > span:last-child {
  width: 27px;
  height: 3px;
  margin-top: 8px;
}

@media (min-width: 40rem) {
  .header__toggle {
    display: none;
  }
}

.header__list {
  display: none;
}

.header__list ul {
  display: flex;
  flex-direction: row;
}

.header__list ul > li {
  border-bottom: 2px solid #f8bd3b;
}

.header__list ul > li:not(:last-child) {
  margin-right: 1rem;
}

.header__list ul > li > a {
  line-height: 3;
}

.header__list ul > li > a:hover {
  color: #f8bd3b;
}

@media (min-width: 40rem) {
  .header__list {
    display: block;
  }
}

@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.hero__sec__text > span {
  color: #f8bd3b;
}

.hero__sec__text > h1 {
  font-size: clamp(2.5rem, calc(4vw + 1rem), 3rem);
  font-weight: 400;
  color: #63ecbb;
  margin: 0.4rem 0rem;
}

.hero__sec__text > h3 {
  margin: 0.4rem 0;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: clamp(2rem, calc(1vw + 1rem), 4rem);
}

.hero__sec__text > p {
  margin: 0.7rem 0;
}

.hero__sec__image {
	display: none !important;
  margin-top: 2rem;
  width: 100%;
}

.hero__sec__image img {
  width: 100%;
}

.hero__sec__image .image {
  margin: 2rem;
  position: relative;
  display: none;
}

.hero__sec__image .image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #f8bd3b;
  top: 15px;
  left: 15px;
  z-index: -10;
}

@media (min-width: 40rem) {
  .hero__sec__image .image::after {
    top: 12px;
    left: 15px;
  }
}

@media (min-width: 40rem) {
  .hero__sec__image .image {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 64em) {
  .hero__sec__image .image {
    width: 57%;
  }
}

@media (min-width: 64em) {
  .hero__sec {
    display: flex;
  }
}

.about__current__list {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__current__list > ul li {
  line-height: 2;
}

@media (min-width: 40rem) {
  .about__current__list {
    width: 40%;
  }
}

.about .about_image .image {
  display: block;
}

@media (min-width: 40rem) {
  .about .about_image .image {
    display: none;
  }
}

@media (min-width: 40rem) {
  .about .about_image {
    display: none;
  }
}

.skills__container {
  color: #63ecbb;
  margin: 1rem auto;
}

.skills__container > div {
  margin-top: 1rem;
}

.skills__container > div > div {
  display: inline-block;
}

.skills__container ul > li {
  color: #f4f9ff;
  line-height: 1.7rem;
}

@media (min-width: 40rem) {
  .skills__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.8rem;
    width: 80%;
    margin: 0 auto;
  }
}

.projects__container .project {
  background-color: #232f45;
  padding: 1.5rem;
  margin: 0.7rem 0;
  text-align: left;
}

.projects__container .project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8bd3b;
  margin-bottom: 0.7rem;
}

.projects__container .project__title {
  font-size: calc(2vw + 1rem);
  margin: 0.5rem 0;
  color: #63ecbb;
}

.projects__container .project__title:hover {
  color: #f8bd3b;
}

@media (min-width: 40rem) {
  .projects__container .project__title {
    font-size: calc(1vw + 0.9rem);
  }
}

@media (min-width: 64em) {
  .projects__container .project__title {
    font-size: calc(1vw + 0.6rem);
  }
}

.projects__container .project__description {
  font-size: 1rem;
  word-spacing: 2px;
}

.projects__container .project__tech {
  color: #f8bd3b;
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  margin-top: 1.2rem;
  letter-spacing: 0.7px;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 40rem) {
  .projects__container {
    margin: 0.7rem auto;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (min-width: 64em) {
  .projects__container {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.connect__content {
  margin-top: 2rem;
  text-align: center;
}

.connect__content .title {
  color: #f8bd3b;
  font-size: clamp(2rem, calc(2vw + 1rem), 4rem);
  margin-bottom: 0.5rem;
}

.connect__content a {
  display: inline-block;
  margin: 1rem;
}

@media (min-width: 40rem) {
  .connect__content {
    width: 68%;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */