* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $para;
  background-color: $bodybackground;
  font-family: $font-para;
  padding: 1.5rem;

  @include breakpoint-up(medium) {
    padding: 2rem;
  }
}

main {
  font-size: $font-regular;
}

button {
  padding: 0.5rem 3rem;
  font-size: inherit;
  color: $borders;
  background: transparent;
  border-radius: 0.8rem;
  border: 1px solid $borders;
  margin-top: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  word-spacing: 2px;
}

section {
  margin-top: 2rem;

  .header {
    margin-bottom: 1rem;
    border-bottom: 2px solid $borders;
    font-size: clamp(1.1rem, calc(1vw + 0.2rem), 2.5rem);

    > h1 {
      margin-bottom: 0.5rem;
      color: $subtitle;
      text-transform: capitalize;
      word-spacing: 2px;
      letter-spacing: 1px;

      > span {
        color: $title;
      }
    }
  }

  @include breakpoint-up(medium) {
    margin: 0;
    padding: 3rem;

    .content__container {
      margin: 0 auto;
    }
  }

  @include breakpoint-up(large) {
    padding: 5rem;

    .content__container {
      width: 65%;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.social-links {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  // left: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    margin: 0.8rem 0;
    &:hover {
      color: $borders;
    }
  }

  &::before {
    content: "";
    width: 2px;
    height: 5rem;
    background-color: $borders;
  }

  &::after {
    content: "";
    width: 2px;
    height: 5rem;
    background-color: $borders;
  }

  @include breakpoint-up(medium) {
    display: flex;
  }
}
